*{
    padding:0px;
    margin:0px;
    overflow-x: hidden;
}
body{
    background-color: rgb(138, 137, 137);
    background-color: black;
}
.cards-container{
    width: 100%;
    margin-left: 15px;
    margin-top:15px;
    display:grid;
    grid-template-columns: repeat(3,350px);
    margin-bottom: 40px;
    justify-content: space-evenly;
}
.card{
    height: auto;
    width: 350px;
    background-color: white;
    text-align: center;
    border:0px;
    border-radius: 20px;
    margin-bottom: 20px;
}
.card-header{
    display: flex;
    flex-direction: column;
    gap:10px;
    padding-top:40px;
    align-items: center;
}
.card-price{
    color:rgb(83, 81, 81);
    margin-bottom: 10px;
}
.card-body{
    background-color: #f4f4f4;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    padding:20px;
    display: flex;
    flex-direction: column;
    gap:15px;
}
.card-location{
    display: flex;
    gap:10px;
    justify-content: center;
    color: rgb(83, 81, 81);
}
.card-description{
    color:rgb(83, 81, 81);
}
.btns{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:20px;
}
.btn-outline{
    padding: 5px 0px 5px 0px;
    width:200px;
    border:2px solid rgb(12, 209, 235);
    color:rgb(12, 209, 235);
    border-radius: 5px;
    font-weight: bold;
}
.btn-filled{
    padding: 5px 0px 5px 0px;
    width:200px;
    border:0px;
    color:white;
    background-color: #3398db;
    border-radius: 5px;
    font-weight: bold;
}
img{
    border:0px;
    border-radius: 50%;
}
.card-status{
    color:rgb(73, 70, 70);
    display: flex;
    gap:10px;
    justify-content: center;
    align-items: center;
}
.dot{
    height: 15px;
    width: 15px;
    background-color: green;
    border:0px;
    border-radius: 50%;
}
header{
    padding-top:20px;
    height: auto;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    font-size: 30px;
    color:white;
    background-color: black;
    text-decoration: none;
}
p{
    color: white;
    text-decoration:none;
}
.login{
 font-size: 25px;
 padding:10px 25px 10px 25px;
 border:none;
 border-radius: 25px ;
}
footer{
    width: 100%;
    position:fixed;
    bottom:0px;
    font-size:30px;
    color: white;
    text-align: center;
    background-color: black;
    padding: 10px;
}
.top{
    color: white;
    margin:30px;
    font-size: 28px;
    line-height: 60px;
}
.noStyle{
    text-decoration: none;
    color:black;
}
.aboutUser{
    color: white;
    padding:50px;
    line-height: 50px;
}
#same{
    color: white;
    display: flex;
    align-items: center;

}
.aboutUser p{
    font-size: 30px;
}
@media screen and (min-width:320px) {
    header{
        flex-direction: column;
        gap:20px;
    }
    .cards-container{
    width: 100%;
    display:grid;
    grid-template-columns: repeat(1,350px);
    margin-bottom: 40px;
    justify-content: space-evenly;
}
}
@media screen and (min-width:768px) {
    header{
        flex-direction: row;
    }
    .cards-container{
    width: 100%;
    display:grid;
    grid-template-columns: repeat(2,350px);
    margin-bottom: 40px;
    justify-content: space-evenly;
}
}
@media screen and (min-width:1024px) {
    header{
        flex-direction: row;
    }
    .cards-container{
    width: 100%;
    display:grid;
    grid-template-columns: repeat(3,350px);
    margin-right:10px;
    margin-bottom: 40px;
    justify-content: space-evenly;
}
}
@media screen and (min-width:2560px) {
    header{
        flex-direction: row;
    }
    .cards-container{
    width: 100%;
    display:grid;
    grid-template-columns: repeat(4,350px);
    margin-bottom: 40px;
    justify-content: space-evenly;
}
}